/* About Supporters Section */
.supporters-section {
    padding: 152px 0;
}

.supporters-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.supporters-row {
    display: flex;
    gap: 24px;
}

.supporter-card {
    background-color: #fbf5f3;
    padding: 24px 36px;
    border-radius: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 192px;
}
.supporter-card.empty{
    opacity: 0;
}

.supporter-logo {
    max-width: 229px;
    max-height: 115px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .supporters-row {
        flex-direction: column;
    }
    
    .supporter-card {
        padding: 16px 24px;
        height: 120px;
    }
}
